emoji_challenge
resized_emoji_challenge
.idea/
.ipynb_checkpoints/
**/**.png
**.jpg
__pycache__/
Self-Attention-GAN/image/
Self-Attention-GAN/logs/
Self-Attention-GAN/samples/
Self-Attention-GAN/models/
Self-Attention-GAN/attn/
Self-Attention-GAN/__pycache__/
